<%= form_for @challenge do |f| %>
  <%= @questions.each do |q| %>
    <%= q.query %>

    <%= f.fields_for :challenge_step do |a| %>    
      <% q.choices.each do |c| %>
        <p>
          <%= a.label c %>
          <%= a.radio_button :chosen_answer_index, q.choices.index(c) %>
        </p>
      <% end %>
      <%= a.submit %>
    <% end %>
  <% end %>
<% end %>